main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 232px;
}
.row {
    display: flex;
}
button {
    width: 58px;
    height: 48px;
    border: 1px solid rgba(90, 90, 90, 0.4);
    user-select: none;
}
.display {
    background-color: rgb(109, 86, 117);
    color: #ebebeb;
    text-align: right;
    line-height: 66px;
    padding: 0 10px;
    font-size: 36px;
    font-weight: 300;
    user-select: none;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}
.special-key {
    background-color: rgb(196, 130, 223);
    color: #e5e5e5;
    font-size: 18px;
}
.special-key:active {
    background-color: rgb(175, 17, 238);
}
.operator-key {
    background-color: rgb(196, 130, 223);
    color: #e9e9e9;
    font-size: 24px;
}
.operator-key:active {
    background-color: rgb(175, 17, 238);
}
.number-key {
    background-color: rgb(250, 196, 115);
    color: #000;
    font-size: 22px;
    font-weight: 500;
}
.number-key:active {
    background-color: rgb(255, 160, 16);
}
.double-size {
    width: 116px;
}